.Main{
    background-image:url('../homelogo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.button {
    background-color: darkred;
    border-radius: 12px;
    color: white;
    padding: 3px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    position: relative;
    list-style-type:none;
}